[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-restful = "*"
pymysql = "*"
flask-wtf = "*"
flask-restful-swagger = "*"
flask-socketio = "*"
eventlet = "*"
greenlet = "*"
python-dotenv = "*"
requests-html = "*"
flask-apscheduler = "*"

[requires]
python_version = "3.6"
