.page_profile_info_inner {
    padding: 30px 0;
    position: relative;
}

.profile_info_area {
    background-color: #fff;
    padding: 1.4em 20px;
    position: relative;
}

.profile_info_group {
    overflow: hidden;
    margin-bottom: .75em;
}

.radius_avatar {
    display: inline-block;
    background-color: #fff;
    padding: 3px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}

.profile_info_area .profile_avatar {
    float: left;
    margin-right: 16px;
    width: 60px;
    height: 60px;
}

.radius_avatar img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #eee;
}

.profile_info_area .profile_info {
    overflow: hidden;
}

.profile_info_area .profile_nickname {
    display: block;
    font-weight: 400;
    font-size: 18px;
}

.profile_info_area .profile_account {
    color: #8c8c8c;
}

.profile_info_area .profile_desc {
    color: #8c8c8c;
    word-wrap: break-word;
    word-break: break-all;
}

.profile_info_area .profile_desc li {
    overflow: hidden;
    padding-top: .75em;
    line-height: 1.45;
    font-size: 15px;
}

.profile_info_area .profile_desc .profile_desc_label {
    float: left;
    margin-right: 1.3em;
    color: #3e3e3e;
}

.profile_info_area .profile_desc .profile_desc_value {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.profile_info_area .icon_verify {
    width: 15px;
    height: 15px;
    margin: -0.2em .35em 0 0;
    vertical-align: middle;
    *margin-top: 0;
}

.weui_msg_card {
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.weui_msg_card:first-child {
    margin-top: 0;
}

.weui_media_box {
    padding: 16px 15px;
    position: relative;
}

.weui_media_box.appmsg {
    overflow: hidden;
    font-size: 18px;
}

.weui_media_box.appmsg .weui_media_hd {
    float: right;
    margin-left: .8em;
    width: 5.125em;
    height: 4.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.weui_media_box.appmsg .weui_media_bd {
    display: table-cell;
    vertical-align: top;
    float: none;
    width: auto;
    *display: block;
    *zoom: 1;
}

.weui_media_box.appmsg .weui_media_title {
    font-weight: 400;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.4;
}

.weui_media_box.appmsg .weui_media_desc {
    display: none;
    color: #8c8c8c;
    font-size: 14px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.weui_media_box .weui_media_extra_info {
    color: rgba(0, 0, 0, 0.3);
    padding-top: .4em;
    font-size: 14px;
    *zoom: 1;
}

.weui_media_box .weui_media_extra_info:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}

.weui_media_box.appmsg .weui_media_bd:after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    visibility: hidden;
    clear: both;
    height: 0 !important;
    display: block;
    line-height: 0;
}


#wrapper .yheader {
    margin-bottom: 20px;
}

.yheader {
    background: #fff;
}

.yheader .bg-header {
    display: block;
    width: 100%;
    height: 160px;
}

.yheader > div {
    position: relative;
    min-height: 84px;
    padding: 16px 0 0 134px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.yheader > div > a {
    position: absolute;
    left: 20px;
    top: -36px;
}

.yheader > div > a:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .08);
}

.yheader > div .avatar {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 100px;
}

.yheader > div .title {
    font-size: 22px;
    color: #222;
    letter-spacing: 0;
    line-height: 24px;
}

.yheader > div .title > a, .yheader > div .title > div {
    display: table-cell;
    vertical-align: middle;
}

.yheader > div .title .name {
    color: #222;
}

.yheader > div .title span {
    font-weight: 700;
    display: table-cell;
}

.btn-attention {
    display: inline-block;
    text-align: center;
    width: 78px;
    line-height: 28px;
    border: 1px solid #2A90D7;
    border-radius: 6px;
    color: #fff;
    background: #2A90D7;
    cursor: pointer;
}

.btn-attention .text:before {
    content: "\e6ec";
    font-family: yFont;
    padding-right: 2px;
}

.yheader > div .btn-attention, .yheader > div .btn-publish {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 37px;
    width: 164px;
    background: #2a90d7;
    text-align: center;
    border: 1px solid #2a90d7;
    padding: 0;
    border-radius: 6px;
    cursor: pointer;
}

.yheader > div .title span {
    font-weight: 700;
    display: table-cell;
}

.yheader > div .title .dv:after {
    content: "\e641";
    display: block;
    color: #FEC346;
    font-size: 20px;
}

.yheader > div .title span {
    font-weight: 700;
    display: table-cell;
}

#wrapper .left {
    display: table-cell;
    width: 880px;
    padding-right: 20px;
    vertical-align: top;
}

.tab {
    background: #fff;
    position: relative;
    border-bottom: 2px solid #E8E8E8;
    height: 46px;
    line-height: 46px;
    border-spacing: 40px 0;
}

.tab li {
    display: table-cell;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.tab li.active {
    color: #208eda;
    border-bottom: 2px solid #208eda;
}

#wrapper .right {
    display: table-cell;
    width: 340px;
    vertical-align: top;
}

.statistics {
    display: table;
    width: 100%;
    background: #fff;
    margin-bottom: 20px;
}

.statistics > dt, .statistics > dd {
    display: table-cell;
    width: 50%;
    text-align: center;
    padding: 18px 0;
    position: relative;
}

.statistics > dt a, .statistics > dd a {
    display: block;
}

.statistics h3 {
    font-size: 22px;
    color: #222;
    line-height: 1.1;
}

.statistics > dt:after {
    content: " ";
    display: block;
    position: absolute;
    background: #e8e8e8;
    height: 46px;
    width: 1px;
    left: 100%;
    top: 18px;
}

.statistics p {
    font-size: 14px;
    color: #777;
    margin-top: 4px;
}

.statistics h3 i {
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .page_profile_info {
        width: 1240px;
        margin: 30px auto;
        background-color: #fff;
        border: 1px solid #e5e5e7;
    }

    .profile_info_area {
        padding: 30px 0;
        margin: 0 55px;
        border-bottom: 1px solid #e5e5e7;
    }

    .profile_info_area .profile_info_group, .profile_info_area .profile_desc {
        padding-left: 144px;
    }

    .profile_info_area .profile_info_group {
        position: relative;
        overflow: visible;
    }

    .profile_info_area .profile_avatar {
        left: 0;
        top: 0;
        width: 110px;
        height: 110px;
        position: absolute;
    }

    .profile_info_area .profile_desc .profile_desc_label {
        color: #8c8c8c;
    }

    .weui_msg_card {
        margin: 0;
        padding: 0;
    }

    .weui_media_box {
        padding: 26px 15px;
        border-bottom: 1px solid #e5e5e7;
    }

    .weui_media_box:last-child {
        border: 0;
    }

    .weui_media_box.appmsg .weui_media_hd {
        width: 195px;
        height: 125px;
        margin-left: 24px;
    }

    .weui_media_box.appmsg .weui_media_title {
        padding-top: 5px;
        overflow: visible;
    }

    .weui_media_box.appmsg .weui_media_desc {
        display: block;
        white-space: normal;
        padding-top: 10px;
    }

    .weui_media_box.appmsg .weui_media_extra_info {
        display: block;
    }

}