<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>

        Life is Fantastic

    </title>
    <link rel="icon" type="image/x-icon" href="https://github.githubassets.com/favicon.ico">
    
    <link rel="stylesheet" href="./static/css/common.css">
    <link rel="stylesheet" href="./static/css/index.css">
    <link rel="stylesheet" href="./static/css/author.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>


<div class="header">
    <div class="middlebar">
        <div class="middlebar-inner clearfix">
            <div class="bui-left logo-box">
                <a href="/" class="logo-link">
                    <img src="./static/img/logo.jpg" class="logo">
                </a>
            </div>
            <div class="search-wrapper fr">
                <input type="text" placeholder="搜索文章" autocomplete="off" class="search-inner"
                       value=""/>
                <div class="search-btn">
                    <button type="button">
                        <span>搜索</span>
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>

<!--<div class="bgcolor">-->
<div id="wrapper">


    <div class="y-wrap">


        <div class="y-box container clearfix">
            <div class="wrapper y-left clearfix">
                <!-- 分类栏 -->
                <div class="y-left index-channel">
                    <div>
                        <div class="wchannel">

                            <ul class="cates">
                                <!--<li>-->
                                <!--<a class="wchannel-item  active" href="#">-->
                                <!--<span id="c_0">推荐</span>-->
                                <!--</a>-->
                                <!--</li>-->

                                <li v-for="(cate, index) in cates"
                                    v-on:click="addClass(index)">
                                    <a class="wchannel-item" href="#" v-bind:class="{ active:index==current}">
                                        <span :id='"c_"+cate.cate_id'>{{ cate.cate_name }}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 主体内容 -->
                <div class="y-left index-content news-box" id="news_desc">
                    <ul class="news-list">
                        <li v-for="(info,index) in infos" :key="index">
                            <div class="img-box">
                                <a :href='"./news.html?uuid=" + info.md5_url' target="_blank">
                                    <img :src="info.cover">
                                    style="height: 120px; width: auto; margin-left: -61.5px;">
                                </a>
                            </div>
                            <div class="txt-box">
                                <h3>
                                    <a :href='"./news.html?uuid=" + info.md5_url' target="_blank">{{ info.title }}</a>
                                </h3>
                                <p class="txt-info" target="_blank">
                                    {{ info.digest }}</p>
                                <div class="s-p">
                                    <a :href='"./author.html?author_id=" + info.author_id' class="account"
                                    >{{ info.author }}</a>
                                    <span class="s2">{{ info.published_at }}</span>

                                </div>
                            </div>
                        </li>
                        `
                    </ul>
                    <div class="loading ball-pulse" style="display:">
                        <div></div>
                        <div></div>
                        <div></div>
                        <span>加载中⋅⋅⋅</span>
                    </div>
                </div>

            </div>
            <!-- 侧边栏 -->
            <div class="y-right index-modules snb-right">

                <div class="author-recommend">
                    <div class="author-recommend-head">
                        <h2 class="author-recommend-name">Life is Fantastic</h2>
                    </div>
                    <div class="author-recommend-list">
                        <a style="color: #8590A6" href="/about" target="_blank">一个帮你更好发现内容的地方</a>
                    </div>
                </div>

                <div class="author-recommend">
                    <div class="author-recommend-head">
                        <h2 class="author-recommend-name">编辑精选</h2>
                    </div>
                    <div class="author-recommend-list">

                        <ul class="news-list-right">
                            `
                            <li v-for="(featured,index) in featureds">
                                <div class="img-box">
                                    <a :href='"./news.html?uuid=" + featured.md5_url' target="_blank">
                                        <img :src="featured.cover" style="height: 60px; width: 80px;;">
                                    </a>
                                </div>
                                <div class="txt-box">
                                    <p class="p1">
                                        <a :href='"./news.html?uuid=" + featured.md5_url' target="_blank">{{ featured.title
                                            }}</a>
                                    </p>
                                    <div class="s-p">
                                        <a class="account" target="_blank"
                                           :href='"./author.html?author_id=" + featured.author_id'>{{ featured.author }}</a>
                                        <span class="s2">{{ featured.published_at }}</span>
                                    </div>
                                </div>
                            </li>
                            `

                        </ul>
                    </div>
                </div>


                <div class="author-recommend">
                    <div class="author-recommend-head">
                        <h2 class="author-recommend-name">热门账号</h2>
                    </div>

                    <div class="author-recommend-list" v-for="(account,index) in hotAccount">


                        <div class="author-item zg-clear zm-profile-section-item zm-item">
                            <div class="author-avatar">
                                <a :href='"./author.html?author_id=" + account.author_id' target="_blank">
                                    <img class="Avatar Avatar--xs"
                                         :src="account.author_img"
                                         :alt="account.author">
                                </a>
                            </div>
                            <div class="author-item-content">
                                <h3 class="author-item-title">
                                    <a :href='"./author.html?author_id=" + account.author_id' target="_blank">
                                        <strong>{{ account.author }}</strong>
                                    </a>
                                </h3>
                            </div>
                        </div>


                    </div>
                </div>

                <!--<div class="author-recommend">-->
                <!--<div class="author-recommend-head">-->
                <!--<h2 class="author-recommend-name">更多</h2>-->
                <!--</div>-->
                <!--<div class="author-recommend-list">-->

                <!--<div class="author-item zg-clear zm-profile-section-item zm-item">-->

                <!--<div class="author-item-content recommend-more">-->
                <!--<h3 class="author-item-title">-->
                <!--<a href="/about">关于</a>-->

                <!--</h3>-->
                <!--</div>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

            </div>

        </div>
    </div>


</div>
<!--</div>-->


<div class="footer">
    <div class="wrapper">
        <!--<ul class="subNav clearfix">-->
        <!--<li><a href="/about">关于</a></li>-->
        <!--</ul>-->
        <div class="describ">
            <div class="commondes describ_top">
                <span></span>

            </div>

            <div class="commondes describ_bottom">
                <span><a href="http://www.miitbeian.gov.cn/" style="color:#999">暂时还没有备案</a></span>
            </div>
        </div>
    </div>
</div>

</body>

<script src="http://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="./static/js/main.js"></script>


<script>

    var current_cate = "0";
    var current_page = 1;
    new Vue(
        {
            el: "#wrapper",
            data: {
                current: 0,  // 当前页码
                cates: [],   // 分类
                infos: [],   // 主要列表信息
                featureds: [],  // 精选
                hotAccount: [],  // 热门账号
            },
            methods: {
                loadInfoList: function (page, cate) {
                    var _this = this;
                    axios.get(host_name + "/api/v1/article/get/list", {
                        params: {
                            page: page,
                            size: 10,
                            cate: cate,
                        }
                    })
                        .then(function (response) {
                            if(page>1){
                                // 如果不是首页 数据 依次添加在后面
                                for (var i = 0; i < response.data.data.length; i++) {
                                    var info = response.data.data[i];
                                    _this.infos.push(info)
                                }
                            }else {
                                _this.infos = response.data.data;
                            }
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },  // 加载数据
                loadCate: function () {
                    var _this = this;
                    axios.get(host_name + '/api/v1/article/get/cate')
                        .then(function (response) {
                            // 请求渲染分类
                            _this.cates = response.data.cate_list

                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },            // 加载分类
                loadFeatured: function () {
                    var _this = this;
                    axios.get(host_name + '/api/v1/article/featured')
                        .then(function (response) {
                            // 请求渲染精选
                            _this.featureds = response.data.data

                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },        // 加载精选
                addClass: function (index) {            // 点击分类操作
                    // 点击添加 active
                    this.current = index;
                    current_cate = index;    // 当前是那个分类
                    current_page = 1;
                    // 点击加载新分类
                    this.loadInfoList(current_page, index)
                },
                loadMore: function () {
                    var _this = this;
                    // 监听鼠标事件加载更多
                    window.addEventListener('scroll', function () {
                        //变量scrollTop是滚动条滚动时，距离顶部的距离
                        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
                        //变量windowHeight是可视区的高度
                        var windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
                        //变量scrollHeight是滚动条的总高度
                        var scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
                        //滚动条到底部的条件
                        if (scrollTop + windowHeight + 1 >= scrollHeight) {
//                            console.log("到底了")
                            current_page += 1;
                            _this.loadInfoList(current_page, current_cate)
                        }
                    })
                },
                loadHotAccount:function () {   // 加载热门账号
                    var _this = this;
                    axios.get(host_name + "/api/v1/author/get/popular", {
                        params: {
                            cate: current_cate,
                        }
                    })
                        .then(function (response) {

                                _this.hotAccount = response.data.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
            },
            mounted() {
                // 初始化方法 加载首页数据 分类 和列表
                this.loadMore();  // 监听加载更多
                this.loadCate();
                this.loadFeatured();  // 加载精选
                this.loadInfoList(current_page, current_cate);
                this.loadHotAccount();
            }
        },
    );

</script>


</html>