<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>

         良许Linux -- 二十次幂

    </title>
    <link rel="stylesheet" href="/static/css/common.css">



    <link rel="stylesheet" href="/static/css/author.css">



</head>

<body>


<div class="header">
    <div class="middlebar">
        <div class="middlebar-inner clearfix">
            <div class="bui-left logo-box">
                <a href="/" class="logo-link">
                    <img src="/static/images/ershicimi.png" class="logo">
                </a>
            </div>
            <nav role="navigation" class="header-nav ">
                <a class="action" href="/"
                   data-za-not-track-link="true">首页</a>
            </nav>
            <div class="search-wrapper fl">
                <input type="text" placeholder="搜索公众号" autocomplete="off" class="search-inner"
                       value=""/>
                <div class="search-btn">
                    <button type="button">
                        <i class="y-icon icon-search"></i>
                    </button>
                </div>
            </div>
            <div class="fr login-action">


                    <a href="/signin" class="action">登录</a>
                    <a href="/signup" class="action">注册</a>


            </div>
        </div>
    </div>
</div>

<!--<div class="bgcolor">-->
<div id="wrapper">


    <div class="yheader">
        <div class="bg-header" style="background: rgb(161, 160, 153);"></div>
        <!--<a href="">-->
        <!--<img class="bg-header" alt="头像" src="../static/images/levi-price-35655-unsplash.jpg">-->
        <!--</a>-->
        <div>
            <a href="javascript:;">
                <img alt="头像" class="avatar" src="http://duweixin.oss-cn-beijing.aliyuncs.com/4d62a8e75235ccc3058e1a40d95f20d0f094161d.jpg?x-oss-process=image/resize,p_50">
            </a>
            <ul>
                <li class="title">
                    <a href="javascript:;">
                        <span class="name">良许Linux</span>
                        <!--<span class="y-icon dv"></span>-->
                        <span class="tth"></span>
                    </a>
                </li>
            </ul>
            <span class="btn-attention" data="3016"> <em class="text"> 关注</em></span>
        </div>
    </div>
    <div class="left">
        <div>
            <ul class="tab tab-0">
                <li class="active" code="a" idx="0"><a href="/a/3016">全部</a></li>
                <li class= code="a" idx="0"> <a href="/a/3016?c=original">原创</a></li>
            </ul>
        </div>
        <div class="weui_msg_card_list">
            <div class="weui_msg_card">
                <div class="weui_msg_card_bd">


                        <div class="weui_media_box appmsg">
                            <a class="weui_media_hd" href="/p/f7f1c05f0f0671d1f5b427ef4da27f65"
                               target="_blank"
                               style="background-image:url(http://duweixin.oss-cn-beijing.aliyuncs.com/ae0c661cdf2998dd1934182d77927484c4eda707.jpg?x-oss-process=image/resize,p_50)"></a>
                            <div class="weui_media_bd">
                                <h4 class="weui_media_title">
                                    <a href="/p/f7f1c05f0f0671d1f5b427ef4da27f65"
                                       target="_blank">在医院，我等电梯花了半小时……</a>
                                </h4>
                                <p class="weui_media_desc">开始写一些非技术文，发在我有留言功能的号上，多多支持哦</p>
                                <p class="weui_media_extra_info">2019年01月15日

                                </p>
                            </div>
                        </div>


                        <div class="weui_media_box appmsg">
                            <a class="weui_media_hd" href="/p/635c1c176c5688a0e97cbca03bd44965"
                               target="_blank"
                               style="background-image:url(http://duweixin.oss-cn-beijing.aliyuncs.com/600a0de24f6dcac5980d7b76133b7f35468b9a70.jpg?x-oss-process=image/resize,p_50)"></a>
                            <div class="weui_media_bd">
                                <h4 class="weui_media_title">
                                    <a href="/p/635c1c176c5688a0e97cbca03bd44965"
                                       target="_blank">程序员进阶架构师必备资源免费送</a>
                                </h4>
                                <p class="weui_media_desc">大量技术资源免费分享~不断更新中~</p>
                                <p class="weui_media_extra_info">2019年01月12日

                                        <span class="article-original">原创</span>

                                </p>
                            </div>
                        </div>


                        <div class="weui_media_box appmsg">
                            <a class="weui_media_hd" href="/p/c4b569803545909265b31b7019ebc225"
                               target="_blank"
                               style="background-image:url(http://duweixin.oss-cn-beijing.aliyuncs.com/91eb3908f7f5d4a4f05508e1d6aec8a1031c20d1.jpg?x-oss-process=image/resize,p_50)"></a>
                            <div class="weui_media_bd">
                                <h4 class="weui_media_title">
                                    <a href="/p/c4b569803545909265b31b7019ebc225"
                                       target="_blank">WiFi攻击的三种方式</a>
                                </h4>
                                <p class="weui_media_desc">黑客到底是如何做到绕过身份验证来获取WiFi使用权的呢？</p>
                                <p class="weui_media_extra_info">2019年01月11日

                                </p>
                            </div>
                        </div>


                        <div class="weui_media_box appmsg">
                            <a class="weui_media_hd" href="/p/adf2176293b39e43a253a294a072d9b0"
                               target="_blank"
                               style="background-image:url(http://duweixin.oss-cn-beijing.aliyuncs.com/80020029dd7446402353ec4d874896692b6eb01f.jpg?x-oss-process=image/resize,p_50)"></a>
                            <div class="weui_media_bd">
                                <h4 class="weui_media_title">
                                    <a href="/p/adf2176293b39e43a253a294a072d9b0"
                                       target="_blank">10分钟学会 Linux awk命令</a>
                                </h4>
                                <p class="weui_media_desc">awk是一个强大的文本分析工具，相对于grep的查找，sed的编辑，awk在其对数据分析并生成报告时，显得尤为强大。</p>
                                <p class="weui_media_extra_info">2019年01月10日

                                </p>
                            </div>
                        </div>


                        <div class="weui_media_box appmsg">
                            <a class="weui_media_hd" href="/p/3b770d5471e0a2e2b1137f4ec79200de"
                               target="_blank"
                               style="background-image:url(http://duweixin.oss-cn-beijing.aliyuncs.com/debcec6cdca304c2a6fd95793e9a5fb2cc3b4960.jpg?x-oss-process=image/resize,p_50)"></a>
                            <div class="weui_media_bd">
                                <h4 class="weui_media_title">
                                    <a href="/p/3b770d5471e0a2e2b1137f4ec79200de"
                                       target="_blank">Linux下如何剪断你的千丝万缕</a>
                                </h4>
                                <p class="weui_media_desc">剪不断，理还乱</p>
                                <p class="weui_media_extra_info">2019年01月09日

                                </p>
                            </div>
                        </div>


                        <div class="weui_media_box appmsg">
                            <a class="weui_media_hd" href="/p/17b491f8cd0c70fcb1db1116f8916413"
                               target="_blank"
                               style="background-image:url(http://duweixin.oss-cn-beijing.aliyuncs.com/78b42b744856cb95076ca688a6a625bab9413e92.jpg?x-oss-process=image/resize,p_50)"></a>
                            <div class="weui_media_bd">
                                <h4 class="weui_media_title">
                                    <a href="/p/17b491f8cd0c70fcb1db1116f8916413"
                                       target="_blank">元旦，我 new 了个 baby</a>
                                </h4>
                                <p class="weui_media_desc">帮我家宝宝取个名呗~</p>
                                <p class="weui_media_extra_info">2019年01月08日

                                </p>
                            </div>
                        </div>


                        <div class="weui_media_box appmsg">
                            <a class="weui_media_hd" href="/p/7e67ec0794acf9709445b930d9157116"
                               target="_blank"
                               style="background-image:url(http://duweixin.oss-cn-beijing.aliyuncs.com/f82275263b3141b861f6fc9b7da8b091ae35b0f5.jpg?x-oss-process=image/resize,p_50)"></a>
                            <div class="weui_media_bd">
                                <h4 class="weui_media_title">
                                    <a href="/p/7e67ec0794acf9709445b930d9157116"
                                       target="_blank">福利 | 25本实体图书+2幅精美书法免费送！</a>
                                </h4>
                                <p class="weui_media_desc">Java，Python，面试，C语言，软件开发书籍，及精美书法大放送！</p>
                                <p class="weui_media_extra_info">2019年01月07日

                                </p>
                            </div>
                        </div>


                        <div class="weui_media_box appmsg">
                            <a class="weui_media_hd" href="/p/8621d08d1b8694be80b56e2ecc83ee5b"
                               target="_blank"
                               style="background-image:url(http://duweixin.oss-cn-beijing.aliyuncs.com/1f535bc651d0ed1b8b20c03b05d9678ce8c58385.jpg?x-oss-process=image/resize,p_50)"></a>
                            <div class="weui_media_bd">
                                <h4 class="weui_media_title">
                                    <a href="/p/8621d08d1b8694be80b56e2ecc83ee5b"
                                       target="_blank">回顾2018，展望2019</a>
                                </h4>
                                <p class="weui_media_desc">为了更好的和朋友们互动，将本文发布到有留言功能的那个号。看到很多公号主留言比文章还长，好羡慕！欢迎多多留言哦，让我也开心开心^_^</p>
                                <p class="weui_media_extra_info">2018年12月31日

                                </p>
                            </div>
                        </div>


                </div>
                <div class="loading ball-pulse" style="display: none;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <span>加载中⋅⋅⋅</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="statistics">
            <dd>
                <a ga_event="nav_user_list" href="javascript:;">
                    <h3 riot-tag="number" number="6000523">
                        <em class="y-number">-</em>
                    </h3>
                    <p>预估粉丝</p>
                </a>
            </dd>
        </div>


        <div class="Card">
            <div class="Card-header Profile-sideColumnTitle">
                <div class="Card-headerText">简介</div>
            </div>

            <div class="Profile-sideColumnItem">
                <div class="Profile-sideColumnItemValue">

本公众号专注于IT技术，包括但不限于：C/C++、Python、Linux、树莓派，定期分享技术资料、源码等干货，定期送书，期待您的关注，一起学习进步！
                </div>
            </div>
        </div>
        <div class="Card">
            <div class="Card-header Profile-sideColumnTitle">
                <div class="Card-headerText">二维码</div>
            </div>
            <div class="Profile-sideColumnItems">
                <img class="qr-code" width="100%"
                     src="https://open.weixin.qq.com/qr/code?username=gh_8f0842b1758c">
            </div>
        </div>
    </div>



</div>



</body>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b66fea5322819b9ef67e513412ad4526";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script src="http://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/main.js"></script>




    <script>
        $(function () {
            $scope = {
                currentPage: 1, // 当前页
                pageSize: 20,  // 每页显示数量
                noMore: false,
                loading: false,
                getData: function (page, pageSize) {
                    $.ajax({
                        url: '/api/articles/account/3016',
                        data: {
                            page: page,
                            size: pageSize,
                        },
                        success: function (res) {
                            $scope.loading = false
                            $('.loading.ball-pulse').hide()
                            if (res.data.length < $scope.pageSize) {
                                $scope.noMore = true
                            }
                            const content = res.data.map(article => {

                                if(article.copyright_stat==11){
                                    var origin = '<span class="article-original">原创</span>'
                                }else{
                                    var origin ='';
                                }


                                return $(
                                    `<div class="weui_media_box appmsg">
                                                <a class="weui_media_hd" href="/${article.md5_url}"
                                                        style="background-image:url(${ article.cover }?x-oss-process=image/resize,p_50)"></a>
                                        <div class="weui_media_bd">
                                            <h4 class="weui_media_title">
                                                <a href="/p/${article.md5_url}" target="_blank">${ article.title }</a>
                                            </h4>
                                            <p class="weui_media_desc">${ article.digest }</p>
                                            <p class="weui_media_extra_info">${ new Date(article.published_at).Format("yyyy年MM月dd日") }${origin}</p>
                                        </div>
                                    </div>`
                                )
                            }
                        )

                            $('.weui_msg_card_bd').append(content)
                        }
                    })
                }
            }
            // 监听下拉事件
            $(window).scroll(function () {
                var s = $(window).scrollTop(),
                    h = $(window).height(),
                    documentH = $(document).height();
                if ((s + h + 100) >= documentH && !$scope.noMore) {
                    if (!$scope.loading) {
                        $scope.loading = true
                        $('.loading.ball-pulse').show()
                        $scope.getData(++$scope.currentPage, $scope.pageSize);
                    }
                }
            })
        })
    </script>


</html>