<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>

        Life is Fantastic

    </title>
    <link rel="stylesheet" href="../static/css/common.css">


    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/author.css">


</head>

<body>


<div class="header">
    <div class="middlebar">
        <div class="middlebar-inner clearfix">
            <div class="bui-left logo-box">
                <a href="/" class="logo-link">
                    <img src="../static/img/logo.jpg" class="logo">
                </a>
            </div>
            <div class="search-wrapper fr">
                <input type="text" placeholder="搜索文章" autocomplete="off" class="search-inner"
                       value=""/>
                <div class="search-btn">
                    <button type="button">
                        <span>搜索</span>
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>

<!--<div class="bgcolor">-->
<div id="wrapper">


    <div class="y-wrap">


        <div class="y-box container clearfix">
            <div class="wrapper y-left clearfix">
                <!-- 分类栏 -->
                <div class="y-left index-channel">
                    <div>
                        <div class="wchannel">

                            <ul class="cates">

                                <li>
                                    <a class="wchannel-item  active " href="/">
                                        <span id="cate_info">推荐</span>
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 主体内容 -->
                <div class="y-left index-content news-box">
                    <ul class="news-list">


                    </ul>
                    <div class="loading ball-pulse" style="display:">
                        <div></div>
                        <div></div>
                        <div></div>
                        <span>加载中⋅⋅⋅</span>
                    </div>
                </div>

            </div>
            <!-- 侧边栏 -->
            <div class="y-right index-modules snb-right">

                <div class="author-recommend">
                    <div class="author-recommend-head">
                        <h2 class="author-recommend-name">Life is Fantastic</h2>
                    </div>
                    <div class="author-recommend-list">
                        <a style="color: #8590A6" href="/about" target="_blank">一个帮你更好发现内容的地方</a>
                    </div>
                </div>

                <div class="author-recommend">
                    <div class="author-recommend-head">
                        <h2 class="author-recommend-name">编辑精选</h2>
                    </div>
                    <div class="author-recommend-list">

                        <ul class="news-list-right">


                        </ul>
                    </div>
                </div>


                <div class="author-recommend">
                    <div class="author-recommend-head">
                        <h2 class="author-recommend-name">热门账号</h2>
                    </div>
                    <div class="author-recommend-list">


                        <div class="author-item zg-clear zm-profile-section-item zm-item">
                            <div class="author-avatar">
                                <a href="/a/186" target="_blank">
                                    <img class="Avatar Avatar--xs"
                                         src="http://duweixin.oss-cn-beijing.aliyuncs.com/196a481fa741b2d4007169b6d6e8cf7a6c4a759e.jpg?x-oss-process=image/resize,p_50"
                                         alt="丁香医生">
                                </a>
                            </div>
                            <div class="author-item-content">
                                <h3 class="author-item-title">
                                    <a href="/a/186" target="_blank">
                                        <strong>丁香医生</strong>
                                    </a>
                                </h3>
                            </div>
                        </div>


                        <div class="author-item zg-clear zm-profile-section-item zm-item">
                            <div class="author-avatar">
                                <a href="/a/2065" target="_blank">
                                    <img class="Avatar Avatar--xs"
                                         src="http://duweixin.oss-cn-beijing.aliyuncs.com/fa9c46446138f18dd7a278c1c5700e681542bbbe.jpg?x-oss-process=image/resize,p_50"
                                         alt="定投十年赚十倍">
                                </a>
                            </div>
                            <div class="author-item-content">
                                <h3 class="author-item-title">
                                    <a href="/a/2065" target="_blank">
                                        <strong>定投十年赚十倍</strong>
                                    </a>
                                </h3>
                            </div>
                        </div>


                        <div class="author-item zg-clear zm-profile-section-item zm-item">
                            <div class="author-avatar">
                                <a href="/a/84" target="_blank">
                                    <img class="Avatar Avatar--xs"
                                         src="http://duweixin.oss-cn-beijing.aliyuncs.com/a04bc8a08d315b2a103d031f480beab313313950.jpg?x-oss-process=image/resize,p_50"
                                         alt="拾遗">
                                </a>
                            </div>
                            <div class="author-item-content">
                                <h3 class="author-item-title">
                                    <a href="/a/84" target="_blank">
                                        <strong>拾遗</strong>
                                    </a>
                                </h3>
                            </div>
                        </div>


                        <div class="author-item zg-clear zm-profile-section-item zm-item">
                            <div class="author-avatar">
                                <a href="/a/70" target="_blank">
                                    <img class="Avatar Avatar--xs"
                                         src="http://duweixin.oss-cn-beijing.aliyuncs.com/dfa536b4ff94a0e16f930a3be4121538276e8f8e.jpg?x-oss-process=image/resize,p_50"
                                         alt="老金扯谈">
                                </a>
                            </div>
                            <div class="author-item-content">
                                <h3 class="author-item-title">
                                    <a href="/a/70" target="_blank">
                                        <strong>老金扯谈</strong>
                                    </a>
                                </h3>
                            </div>
                        </div>


                        <div class="author-item zg-clear zm-profile-section-item zm-item">
                            <div class="author-avatar">
                                <a href="/a/102" target="_blank">
                                    <img class="Avatar Avatar--xs"
                                         src="http://duweixin.oss-cn-beijing.aliyuncs.com/4b0df5269f8b56440451ffca36243f6edf4e1c66.jpg?x-oss-process=image/resize,p_50"
                                         alt="小马宋">
                                </a>
                            </div>
                            <div class="author-item-content">
                                <h3 class="author-item-title">
                                    <a href="/a/102" target="_blank">
                                        <strong>小马宋</strong>
                                    </a>
                                </h3>
                            </div>
                        </div>


                    </div>
                </div>

                <!--<div class="author-recommend">-->
                <!--<div class="author-recommend-head">-->
                <!--<h2 class="author-recommend-name">更多</h2>-->
                <!--</div>-->
                <!--<div class="author-recommend-list">-->

                <!--<div class="author-item zg-clear zm-profile-section-item zm-item">-->

                <!--<div class="author-item-content recommend-more">-->
                <!--<h3 class="author-item-title">-->
                <!--<a href="/about">关于</a>-->

                <!--</h3>-->
                <!--</div>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->

            </div>

        </div>
    </div>


</div>
<!--</div>-->


<div class="footer">
    <div class="wrapper">
        <!--<ul class="subNav clearfix">-->
            <!--<li><a href="/about">关于</a></li>-->
        <!--</ul>-->
        <div class="describ">
            <div class="commondes describ_top">
                <span></span>

            </div>

            <div class="commondes describ_bottom">
                <span><a href="http://www.miitbeian.gov.cn/" style="color:#999">暂时还没有备案</a></span>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b66fea5322819b9ef67e513412ad4526";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script src="http://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/main.js"></script>


<script>
    $(function () {
        loadMore('/api/v1/article/get/list ', (res) => {
            const content = res.data.map(article => (
                    $(
                        `<li>
            <div class="img-box">
                <a href="/p/${article.md5_url}" target="_blank">
                    <img src="${article.cover}?x-oss-process=image/resize,p_50"
                        style="height: 120px; width: auto; margin-left: -61.5px;">
                </a>
            </div>
            <div class="txt-box">
                <h3>
                    <a href="/p/${article.md5_url}" target="_blank">${article.title}</a>
                </h3>
                <p class="txt-info" target="_blank">
                    ${ article.digest}</p>
                <div class="s-p">
                    <a class="account" target="_blank"
                      href="/a/${article.account.id}">${
                            article.account.nickname}</a>
                    <span class="s2">${new Date(article.published_at).Format("human")}</span>
                    <div class="moe-box">
                      <span class="sc" style="display: none;">
                        <a href="javascript:void(0);" class="sc-a"></a>
                      </span>
                    </div>
                </div>
            </div>
          </li>`
                    )
                )
            )

            $('.news-list').append(content)
        })

        // 滚动固定菜单
        $(window).on('scroll', function () {
            var s = $(window).scrollTop()
            if (s > 74) {
                $('.wchannel').addClass('wchannel-fixed')
            } else {
                $('.wchannel').removeClass('wchannel-fixed')
            }
        })


    })
    //精选
    $.get('/api/v1/article/featured', (res) => {

        const content = res.data.map(article => (
                $(
                    `<li>
            <div class="img-box">
                <a href="/p/${article.md5_url}" target="_blank">
                    <img src="${article.cover}?x-oss-process=image/resize,p_50"
                        style="height: 60px; width: 80px;;">
                </a>
            </div>
            <div class="txt-box">
                <p class="p1">
                    <a href="/p/${article.md5_url}" target="_blank">${article.title}</a>
                </p>

                <div class="s-p">
                    <a class="account" target="_blank"
                      href="/a/${article.account.id}">${
                        article.account.nickname}</a>
                    <span class="s2">${new Date(article.published_at).Format("human")}</span>
                    <div class="moe-box">
                      <span class="sc" style="display: none;">
                        <a href="javascript:void(0);" class="sc-a"></a>
                      </span>
                    </div>
                </div>
            </div>
          </li>`
                )
            )
        )

        $('.news-list-right').append(content)


    })

    //分类列表
    $.get('/api/v1/article/get/cate', (data) => {
        var str = "<li>";
        $.each(data.cate_list, function (index, element) {
            console.log(element.cate_name)
            str += '                        <a class="wchannel-item "\n' +
                '                           >\n' +
                '                            <span id='+element.cate_id +'>' + element.cate_name + '</span>\n' +
                '                        </a>\n' +
                '                    </li>'


        });
        $('.cates').append(str)
    })
//点击出发ajax

</script>


</html>