<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>

         Life is Fantastic

    </title>
    <link rel="stylesheet" href="../static/css/common.css">


    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/author.css">


</head>

<body>


<div class="header">
     <div class="middlebar">
        <div class="middlebar-inner clearfix">
            <div class="bui-left logo-box">
                <a href="/" class="logo-link">
                    <img src="../static/img/logo.jpg" class="logo">
                </a>
            </div>
            <div class="search-wrapper fr">
                <input type="text" placeholder="搜索文章" autocomplete="off" class="search-inner"
                       value=""/>
                <div class="search-btn">
                    <button type="button">
                        <span>搜索</span>
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>

<!--<div class="bgcolor">-->
<div id="wrapper">



    <div class="left">
        <div>
            <ul class="tab tab-0">
                <li class="active" code="a" idx="0"><a href="#">全部</a></li>
                <li class="code" idx="0"> <a href="#">作者</a></li>
            </ul>
        </div>
        <div class="weui_msg_card_list">
            <div class="weui_msg_card">
                <div class="weui_msg_card_bd">





                </div>
                <div class="loading ball-pulse" style="display: none;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <span>加载中⋅⋅⋅</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="statistics">
            <dd>
                Life is Fantastic
                <p>一个让你放松的网站</p>
                如果你没找到想要的结果，先尝试换个词，或者
                <a href="">
               点击这里，
                </a>
               帮助我们进行收录
            </dd>
        </div>



    </div>


</div>


</body>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b66fea5322819b9ef67e513412ad4526";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script src="http://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/main.js"></script>


<script>
    var num = this.location.href.split('/')[this.location.href.split('/').length - 1]
    $(function () {
        $scope = {
            currentPage: 1, // 当前页
            pageSize: 20,  // 每页显示数量
            noMore: false,
            loading: false,
            getData: function (page, pageSize) {
                console.log(num)
                $.ajax({
                    url: '/api/v1/author/get/list',
                    data: {
                        page: page,
                        size: pageSize,
                        author_id: num,
                    },

                    success: function (res) {

                             var data = res.data[0].account
                                 console.log(data.avatar);
                             $('.name').html(data.nickname)
                                $('.avatar').attr('src',data.avatar)
                        $scope.loading = false
                        $('.loading.ball-pulse').hide()
                        if (res.data.length < $scope.pageSize) {
                            $scope.noMore = true
                        }
                        const content = res.data.map(article => {

                                if (article.copyright_stat == 11) {
                                    var origin = '<span class="article-original">原创</span>'
                                } else {
                                    var origin = '';
                                }

                                return $(
                                    `<div class="weui_media_box appmsg">
                                                <a class="weui_media_hd" href="/${article.md5_url}"
                                                        style="background-image:url(${ article.cover }?x-oss-process=image/resize,p_50)"></a>
                                        <div class="weui_media_bd">
                                            <h4 class="weui_media_title">
                                                <a href="/article/detail/${article.md5_url}" target="_blank">${ article.title }</a>
                                            </h4>
                                            <p class="weui_media_desc">${ article.digest }</p>
                                            <p class="weui_media_extra_info">${ new Date(article.published_at).Format("yyyy年MM月dd日") }${origin}</p>
                                        </div>
                                    </div>`
                                )
                            }
                        )

                        $('.weui_msg_card_bd').append(content)

                        $('.avatar').html()

                    }
                })
            }
        }
         $scope.getData(1,20);
        // 监听下拉事件
        $(window).scroll(function () {
            var s = $(window).scrollTop(),
                h = $(window).height(),
                documentH = $(document).height();
            if ((s + h + 100) >= documentH && !$scope.noMore) {
                if (!$scope.loading) {
                    $scope.loading = true
                    $('.loading.ball-pulse').show()
                    $scope.getData(++$scope.currentPage, $scope.pageSize);
                }
            }
        })
    })
</script>


</html>
