<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Life is Fantastic</title>
    <link rel="stylesheet" href="{{ url_for("static", filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for("static", filename='css/main.css')}}">
      <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/author.css">
</head>

<body>
 <div class="middlebar">
        <div class="middlebar-inner clearfix">
            <div class="bui-left logo-box">
                <a href="/" class="logo-link">
                    <img src="../static/img/logo.jpg" class="logo" style="width: 200px;height: 50px;">
                </a>
            </div>
            <div class="search-wrapper fr">
                <input type="text" placeholder="搜索公众号" autocomplete="off" class="search-inner"
                       value=""/>
                <div class="search-btn">
                    <button type="button">
                        <span>搜索</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
 <br>
 <br>
 <br>
<div class="container">
  <div class="col-md-8 news">
    <h1 class="title">2年前他为教育事业和高圆圆分手，今成这般，高圆圆：我有一句MMP如鲠在喉</h1>
      <br>
      <br>
    <p class="info">
      <span>阅读：35k</span> •
       <span>王花花</span> •
       <span>发布于7分钟前</span>
       <span class="label label-default">教育</span>
       <span class="label label-default">帅逼</span>
       <span class="label label-default">情感</span>
    </p>
      <br>
      <br>
    <div class="content">

    </div>
  </div>
  <div class="col-md-4">
    <div class="side-bar-well">
      <strong class="side-bar-well-title">
        相关推荐
      </strong>
      <a href="#" class="news-item clearfix">
        <div class="row">
          <span class="col-xs-5">
            <img src="https://dummyimage.com/600x500/ddd/999" alt="">
          </span>
          <span class="col-xs-7">
            <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
            <div class="news-info">
                8.9万次播放  ⋅ 3367评论
            </div>
          </span>
        </div>
      </a>
      <a href="#" class="news-item clearfix">
        <div class="row">
          <span class="col-xs-5">
            <img src="https://dummyimage.com/600x500/ddd/999" alt="">
          </span>
          <span class="col-xs-7">
            <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
            <div class="news-info">
                8.9万次播放  ⋅ 3367评论
            </div>
          </span>
        </div>
      </a>
      <a href="#" class="news-item clearfix">
        <div class="row">
          <span class="col-xs-5">
            <img src="https://dummyimage.com/600x500/ddd/999" alt="">
          </span>
          <span class="col-xs-7">
            <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
            <div class="news-info">
                8.9万次播放  ⋅ 3367评论
            </div>
          </span>
        </div>
      </a>
      <a href="#" class="news-item clearfix">
        <div class="row">
          <span class="col-xs-5">
            <img src="https://dummyimage.com/600x500/ddd/999" alt="">
          </span>
          <span class="col-xs-7">
            <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
            <div class="news-info">
                8.9万次播放  ⋅ 3367评论
            </div>
          </span>
        </div>
      </a>
      <a href="#" class="news-item clearfix">
        <div class="row">
          <span class="col-xs-5">
            <img src="https://dummyimage.com/600x500/ddd/999" alt="">
          </span>
          <span class="col-xs-7">
            <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
            <div class="news-info">
                8.9万次播放  ⋅ 3367评论
            </div>
          </span>
        </div>
      </a>
    </div>
    <div class="side-bar-well">
      <strong class="side-bar-well-title">
        24小时热闻
      </strong>
      <a href="#" class="news-item">
        <div class="news-title">Consectetur adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            5.9万次播放  ⋅ 167评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            8.9万次播放  ⋅ 3367评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Consectetur adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            5.9万次播放  ⋅ 167评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            8.9万次播放  ⋅ 3367评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Consectetur adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            5.9万次播放  ⋅ 167评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            8.9万次播放  ⋅ 3367评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Consectetur adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            5.9万次播放  ⋅ 167评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            8.9万次播放  ⋅ 3367评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Consectetur adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            5.9万次播放  ⋅ 167评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            8.9万次播放  ⋅ 3367评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Consectetur adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            5.9万次播放  ⋅ 167评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            8.9万次播放  ⋅ 3367评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Consectetur adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            5.9万次播放  ⋅ 167评论
        </div>
      </a>
      <a href="#" class="news-item">
        <div class="news-title">Lorem adipisicing elit. Consequuntur aut </div>
        <div class="news-info">
            8.9万次播放  ⋅ 3367评论
        </div>
      </a>
    </div>
  </div>
</div>
<div class="footer">
  © 2017 拴蛋头条 中国互联网举报中心京ICP证1401号京ICP备125439号-3京公网安备
</div>
</body>
<script src="http://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script src="../static/js/common.js"></script>
<script src="../static/js/main.js"></script>

<script>
        var num = this.location.href.split('/')[this.location.href.split('/').length-1]
        $.get('/api/v1/article/get/detail?uuid='+num,()=>{

        })
</script>
</html>
